:root {
    --blanco: #FFF;
    --negro: #000;
    --primario: #73877C;
    --primarioOscuro: #5D6C65;
    --secundario: #1B1C21;
    --secundarioOscuro: #111518;

    --fuentePrincipal: "Staatliches";  
}